.profile-menu-trigger {
    display: inline-block;
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: #1d5e69;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 1001;
}

.profile-menu-trigger img {
    width: 100%;
    filter: invert(1);
}
.profile-menu-trigger:hover {
    transform: scale(1.1);
}

.profile-menu-trigger:active {
    background-color: #0f3238;
    transform: scale(0.9);
}





/* DROPDOWN */

.dropdown-content {
    position: absolute;
    top: 65px;
    right: 55px;
    background-color: white;
    width: 180px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;

    opacity: 0;
    transform: scale(0.6) translate(20px, -20px);
    pointer-events: none;

    transition: all 0.2s ease;
}

.dropdown-content a {
    padding: 12px 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown-content.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}